@model Web.Models.EditCarViewModel

@{
    ViewData["Title"] = "Edit Car";
}
<h3 class="mb-3">@Model.Make @Model.Model</h3>
<form asp-action="Edit" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Model)
    @Html.HiddenFor(x => x.Make)
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h5>Owner Info</h5>
            <div class="form-group">
                <label asp-for="OwnerFirstName"></label>
                <input asp-for="OwnerFirstName" class="form-control" />
                <span asp-validation-for="OwnerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerLastName"></label>
                <input asp-for="OwnerLastName" class="form-control" />
                <span asp-validation-for="OwnerLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <h5>Car Info</h5>
            <div class="form-group">
                <label asp-for="EngineCapacityInCC"></label>
                <input asp-for="EngineCapacityInCC" type="number" min="0" class="form-control" />
                <span asp-validation-for="EngineCapacityInCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorsePower"></label>
                <input asp-for="HorsePower" type="number" min="0" class="form-control" />
                <span asp-validation-for="HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color"></label>
                <select asp-for="Color" asp-items="Html.GetEnumSelectList(typeof (Data.Enums.Color))" class="form-control"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary mt-3 col-md-12" />
            </div>
            @if (ViewBag.SuccessContact != null && ViewBag.SuccessContact)
            {
                <div class="alert alert-success col-md-12" role="alert">
                    The car has been updated.
                </div>
                <a asp-action="Details" asp-route-id="@Model.Id">Go back</a>
            }
        </div>
    </div>
</form>